<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktg.mes.dv.mapper.MachineMapper">
    <select id="selectMachineBymachinerytypecode" parameterType="String" resultMap="Machine">
       select machinery_type_code,machinery_type_name,parent_type_id,ancestors,enable_flag,
              remark,attr1,attr2,attr3,attr4,create_by,create_time,update_by,update_time
       from dv_machinery_type where machinery_type_code = #{machinery_type_code}
    </select>

    <insert id="insertMachine" parameterType="Machine">
        insert into dv_machinery_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="machinery_type_code != null and machinery_type_code != ''">machinery_type_code,</if>
            <if test="machinery_type_name != null and machinery_type_name != ''">machinery_type_name,</if>
            <if test="parent_type_id != null and parent_type_id != ''">parent_type_id,</if>
            <if test="ancestors != null and ancestors != ''">ancestors,</if>
            <if test="enable_flag != null and enable_flag != ''">enable_flag,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="attr1 != null and attr1 != ''">attr1,</if>
            <if test="attr2 != null and attr2 != ''">attr2,</if>
            <if test="attr3 != null and attr3 != ''">attr3,</if>
            <if test="attr4 != null and attr4 != ''">attr4,</if>
            <if test="create_by != null and create_by != ''">create_by,</if>
            <if test="create_time != null and create_time != ''">create_time,</if>
            <if test="update_by != null and update_by != ''">update_by,</if>
            <if test="update_time != null and update_time != ''">update_times,</if>
        </trim>
    </insert>

    <delete id="deleteMachineBymachinerytypecode" parameterType="String">
        delete from dv_machinery_type where machinery_type_code = #{machinery_type_code}
    </delete>

    <update id="updateMachine" parameterType="Issue">
        update dv_machinery_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="machinery_type_code != null and machinery_type_code != ''">machinery_type_code,</if>
            <if test="machinery_type_name != null and machinery_type_name != ''">machinery_type_name,</if>
            <if test="parent_type_id != null and parent_type_id != ''">parent_type_id,</if>
            <if test="ancestors != null and ancestors != ''">ancestors,</if>
            <if test="enable_flag != null and enable_flag != ''">enable_flag,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="attr1 != null and attr1 != ''">attr1,</if>
            <if test="attr2 != null and attr2 != ''">attr2,</if>
            <if test="attr3 != null and attr3 != ''">attr3,</if>
            <if test="attr4 != null and attr4 != ''">attr4,</if>
            <if test="create_by != null and create_by != ''">create_by,</if>
            <if test="create_time != null and create_time != ''">create_time,</if>
            <if test="update_by != null and update_by != ''">update_by,</if>
            <if test="update_time != null and update_time != ''">update_times,</if>
        </trim>
    </update>
</mapper>