<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktg.mes.dv.mapper.PlanMapper">
    <select id="selectPlanByplancode" parameterType="String" resultMap="Plan">
       select plan_code,plan_name,plan_type,start_date,end_date,cycle_type,cycle_count,
              remark,attr1,attr2,attr3,attr4,create_by,create_time,update_by,update_time
       from dv_check_plan where plan_code = #{plan_code}
    </select>

    <insert id="insertPlan" parameterType="Plan">
        insert into dv_check_plan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="plan_code != null and plan_code != ''">plan_code,</if>
            <if test="plan_name != null and plan_name != ''">plan_name,</if>
            <if test="plan_type != null and plan_type != ''">plan_type,</if>
            <if test="start_date != null and start_date != ''">start_date,</if>
            <if test="end_date != null and end_date != ''">end_date,</if>
            <if test="cycle_type != null and cycle_type != ''">cycle_type,</if>
            <if test="cycle_count != null and cycle_count != ''">cycle_count,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="attr1 != null and attr1 != ''">attr1,</if>
            <if test="attr2 != null and attr2 != ''">attr2,</if>
            <if test="attr3 != null and attr3 != ''">attr3,</if>
            <if test="attr4 != null and attr4 != ''">attr4,</if>
            <if test="create_by != null and create_by != ''">create_by,</if>
            <if test="create_time != null and create_time != ''">create_time,</if>
            <if test="update_by != null and update_by != ''">update_by,</if>
            <if test="update_time != null and update_time != ''">update_times,</if>
        </trim>
    </insert>

    <delete id="deletePlanByplancode" parameterType="String">
        delete from dv_check_plan where plan_code = #{plan_code}
    </delete>

    <update id="updatePlan" parameterType="Plan">
        update dv_check_plan
        <trim prefix="SET" suffixOverrides=",">
            <if test="plan_code != null and plan_code != ''">plan_code,</if>
            <if test="plan_name != null and plan_name != ''">plan_name,</if>
            <if test="plan_type != null and plan_type != ''">plan_type,</if>
            <if test="start_date != null and start_date != ''">start_date,</if>
            <if test="end_date != null and end_date != ''">end_date,</if>
            <if test="cycle_type != null and cycle_type != ''">cycle_type,</if>
            <if test="cycle_count != null and cycle_count != ''">cycle_count,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="attr1 != null and attr1 != ''">attr1,</if>
            <if test="attr2 != null and attr2 != ''">attr2,</if>
            <if test="attr3 != null and attr3 != ''">attr3,</if>
            <if test="attr4 != null and attr4 != ''">attr4,</if>
            <if test="create_by != null and create_by != ''">create_by,</if>
            <if test="create_time != null and create_time != ''">create_time,</if>
            <if test="update_by != null and update_by != ''">update_by,</if>
            <if test="update_time != null and update_time != ''">update_times,</if>
        </trim>
    </update>
</mapper>