<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktg.mes.dv.mapper.SubjectMapper">
    <select id="selectSubjectBysubjectcode" parameterType="String" resultMap="Subject">
       select subject_code,subject_name,subject_type,subject_content,subject_standard,enable_flag,
              remark,attr1,attr2,attr3,attr4,create_by,create_time,update_by,update_time
       from dv_subject where subject_code = #{subject_code}
    </select>

    <insert id="insertSubject" parameterType="Subject">
        insert into dv_subject
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="subject_code != null and subject_code != ''">subject_code,</if>
            <if test="subject_name != null and subject_name != ''">subject_name,</if>
            <if test="subject_type != null and subject_type != ''">subject_type,</if>
            <if test="subject_content != null and subject_content != ''">subject_content,</if>
            <if test="subject_standard != null and subject_standard != ''">subject_standard,</if>
            <if test="enable_flag != null and enable_flag != ''">enable_flag,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="attr1 != null and attr1 != ''">attr1,</if>
            <if test="attr2 != null and attr2 != ''">attr2,</if>
            <if test="attr3 != null and attr3 != ''">attr3,</if>
            <if test="attr4 != null and attr4 != ''">attr4,</if>
            <if test="create_by != null and create_by != ''">create_by,</if>
            <if test="create_time != null and create_time != ''">create_time,</if>
            <if test="update_by != null and update_by != ''">update_by,</if>
            <if test="update_time != null and update_time != ''">update_times,</if>
        </trim>
    </insert>

    <delete id="deleteSubjectBysubjectcode" parameterType="String">
        delete from dv_subject where subject_code = #{subject_code}
    </delete>

    <update id="updateSubject" parameterType="Subject">
        update dv_subject
        <trim prefix="SET" suffixOverrides=",">
            <if test="subject_code != null and subject_code != ''">subject_code,</if>
            <if test="subject_name != null and subject_name != ''">subject_name,</if>
            <if test="subject_type != null and subject_type != ''">subject_type,</if>
            <if test="subject_content != null and subject_content != ''">subject_content,</if>
            <if test="subject_standard != null and subject_standard != ''">subject_standard,</if>
            <if test="enable_flag != null and enable_flag != ''">enable_flag,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="attr1 != null and attr1 != ''">attr1,</if>
            <if test="attr2 != null and attr2 != ''">attr2,</if>
            <if test="attr3 != null and attr3 != ''">attr3,</if>
            <if test="attr4 != null and attr4 != ''">attr4,</if>
            <if test="create_by != null and create_by != ''">create_by,</if>
            <if test="create_time != null and create_time != ''">create_time,</if>
            <if test="update_by != null and update_by != ''">update_by,</if>
            <if test="update_time != null and update_time != ''">update_times,</if>
        </trim>
    </update>
</mapper>