<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktg.mes.wm.mapper.RtVendorMapper">
    <select id="selectRtVendorByrtcode" parameterType="String" resultMap="RtVendor">
       select rt_code,rt_name,po_code,vendor_id,vendor_code,vendor_name,vendor_nick,
           batch_code,rt_date,status,remark,attr1,attr2,attr3,
           attr4,create_by,create_time,update_by,update_time
       from wm_rt_vendor where rt_code = #{rt_code}
    </select>

    <insert id="insertRtVendor" parameterType="RtVendor">
        insert into wm_rt_vendor
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="rt_code != null and rt_code != ''">rt_code,</if>
            <if test="rt_name != null and rt_name != ''">rt_name,</if>
            <if test="po_code != null and po_code != ''">po_code,</if>
            <if test="vendor_id != null and vendor_id != ''">vendor_id,</if>
            <if test="vendor_code != null and vendor_code != ''">vendor_code,</if>
            <if test="vendor_name != null and vendor_name != ''">vendor_name,</if>
            <if test="vendor_nick != null and vendor_nick != ''">vendor_nick,</if>
            <if test="batch_code != null and batch_code != ''">batch_code,</if>
            <if test="rt_date != null and rt_date != ''">rt_date,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="attr1 != null and attr1 != ''">attr1,</if>
            <if test="attr2 != null and attr2 != ''">attr2,</if>
            <if test="attr3 != null and attr3 != ''">attr3,</if>
            <if test="attr4 != null and attr4 != ''">attr4,</if>
            <if test="create_by != null and create_by != ''">create_by,</if>
            <if test="create_time != null and create_time != ''">create_time,</if>
            <if test="update_by != null and update_by != ''">update_by,</if>
            <if test="update_time != null and update_time != ''">update_times,</if>
        </trim>
    </insert>

    <delete id="deleteRtVendorByrtcode" parameterType="String">
        delete from wm_rt_vendor where rt_code = #{rt_code}
    </delete>

    <update id="updateRtVendor" parameterType="RtVendor">
        update wm_rt_vendor
        <trim prefix="SET" suffixOverrides=",">
            <if test="rt_code != null and rt_code != ''">rt_code,</if>
            <if test="rt_name != null and rt_name != ''">rt_name,</if>
            <if test="po_code != null and po_code != ''">po_code,</if>
            <if test="vendor_id != null and vendor_id != ''">vendor_id,</if>
            <if test="vendor_code != null and vendor_code != ''">vendor_code,</if>
            <if test="vendor_name != null and vendor_name != ''">vendor_name,</if>
            <if test="vendor_nick != null and vendor_nick != ''">vendor_nick,</if>
            <if test="batch_code != null and batch_code != ''">batch_code,</if>
            <if test="rt_date != null and rt_date != ''">rt_date,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="attr1 != null and attr1 != ''">attr1,</if>
            <if test="attr2 != null and attr2 != ''">attr2,</if>
            <if test="attr3 != null and attr3 != ''">attr3,</if>
            <if test="attr4 != null and attr4 != ''">attr4,</if>
            <if test="create_by != null and create_by != ''">create_by,</if>
            <if test="create_time != null and create_time != ''">create_time,</if>
            <if test="update_by != null and update_by != ''">update_by,</if>
            <if test="update_time != null and update_time != ''">update_times,</if>
        </trim>
    </update>
</mapper>