<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktg.mes.wm.mapper.SalseProduceMapper">
    <select id="selectSalseProduceBysalseid" parameterType="String" resultMap="SalseProduce">
       select salse_id,material_stock_id,item_id,item_code,item_name,specification,unit_of_measure,
           quantity_salse,batch_code,warehouse_id,warehouse_code,warehouse_name,
           location_id,location_code,location_name,area_id,area_code,
           area_name,remark,attr1,attr2,attr3,
           attr4,create_by,create_time,update_by,update_time
       from wm_product_salse_line where salse_id = #{salse_id}
    </select>

    <insert id="insertSalseProduce" parameterType="SalseProduce">
        insert into wm_product_salse_line
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="salse_id != null and salse_id != ''">salse_id,</if>
            <if test="material_stock_id != null and material_stock_id != ''">material_stock_id,</if>
            <if test="item_id != null and item_id != ''">item_id,</if>
            <if test="item_code != null and item_code != ''">item_code,</if>
            <if test="item_name != null and item_name != ''">item_name,</if>
            <if test="specification != null and specification != ''">specification,</if>
            <if test="unit_of_measure != null and unit_of_measure != ''">unit_of_measure,</if>
            <if test="quantity_salse != null and quantity_salse != ''">quantity_salse,</if>
            <if test="batch_code != null and batch_code != ''">batch_code,</if>
            <if test="warehouse_id != null and warehouse_id != ''">warehouse_id,</if>
            <if test="warehouse_code != null and warehouse_code != ''">warehouse_code,</if>
            <if test="warehouse_name != null and warehouse_name != ''">warehouse_name,</if>
            <if test="location_id != null and location_id != ''">location_id,</if>
            <if test="location_code != null and location_code != ''">location_code,</if>
            <if test="location_name != null and location_name != ''">location_name,</if>
            <if test="area_id != null and area_id != ''">area_id,</if>
            <if test="area_code != null and area_code != ''">area_code,</if>
            <if test="area_name != null and area_name != ''">area_name,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="attr1 != null and attr1 != ''">attr1,</if>
            <if test="attr2 != null and attr2 != ''">attr2,</if>
            <if test="attr3 != null and attr3 != ''">attr3,</if>
            <if test="attr4 != null and attr4 != ''">attr4,</if>
            <if test="create_by != null and create_by != ''">create_by,</if>
            <if test="create_time != null and create_time != ''">create_time,</if>
            <if test="update_by != null and update_by != ''">update_by,</if>
            <if test="update_time != null and update_time != ''">update_times,</if>
        </trim>
    </insert>

    <delete id="updateSalseProduce" parameterType="String">
        delete from wm_product_salse_line where salse_id = #{salse_id}
    </delete>

    <update id="deleteSalseProduceBysalseid" parameterType="SalseProduce">
        update wm_product_salse_line
        <trim prefix="SET" suffixOverrides=",">
            <if test="salse_id != null and salse_id != ''">salse_id,</if>
            <if test="material_stock_id != null and material_stock_id != ''">material_stock_id,</if>
            <if test="item_id != null and item_id != ''">item_id,</if>
            <if test="item_code != null and item_code != ''">item_code,</if>
            <if test="item_name != null and item_name != ''">item_name,</if>
            <if test="specification != null and specification != ''">specification,</if>
            <if test="unit_of_measure != null and unit_of_measure != ''">unit_of_measure,</if>
            <if test="quantity_salse != null and quantity_salse != ''">quantity_salse,</if>
            <if test="batch_code != null and batch_code != ''">batch_code,</if>
            <if test="warehouse_id != null and warehouse_id != ''">warehouse_id,</if>
            <if test="warehouse_code != null and warehouse_code != ''">warehouse_code,</if>
            <if test="warehouse_name != null and warehouse_name != ''">warehouse_name,</if>
            <if test="location_id != null and location_id != ''">location_id,</if>
            <if test="location_code != null and location_code != ''">location_code,</if>
            <if test="location_name != null and location_name != ''">location_name,</if>
            <if test="area_id != null and area_id != ''">area_id,</if>
            <if test="area_code != null and area_code != ''">area_code,</if>
            <if test="area_name != null and area_name != ''">area_name,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="attr1 != null and attr1 != ''">attr1,</if>
            <if test="attr2 != null and attr2 != ''">attr2,</if>
            <if test="attr3 != null and attr3 != ''">attr3,</if>
            <if test="attr4 != null and attr4 != ''">attr4,</if>
            <if test="create_by != null and create_by != ''">create_by,</if>
            <if test="create_time != null and create_time != ''">create_time,</if>
            <if test="update_by != null and update_by != ''">update_by,</if>
            <if test="update_time != null and update_time != ''">update_times,</if>
        </trim>
    </update>
</mapper>