<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktg.mes.md.mapper.WorkStationMapper">
    <select id="selectWorkShopSetByworkshopcode" parameterType="String" resultMap="WorkShopSet">
       select workshop_code,workshop_name,area,charge,enable_flag,
       remark,attr1,attr2,attr3,attr4,create_by,create_time,update_by,update_time
        from md_workshop where workshop_code = #{workshop_code}
    </select>

    <insert id="insertWorkShopSet" parameterType="WorkShopSet">
        insert into md_workshop
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="workshop_code != null and workshop_code != ''">workshop_code,</if>
            <if test="workshop_name != null and workshop_name != ''">workshop_name,</if>
            <if test="area != null and area != ''">area,</if>
            <if test="charge != null and charge != ''">charge,</if>
            <if test="enable_flag != null and enable_flag != ''">enable_flag,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="attr1 != null and attr1 != ''">attr1,</if>
            <if test="attr2 != null and attr2 != ''">attr2,</if>
            <if test="attr3 != null and attr3 != ''">attr3,</if>
            <if test="attr4 != null and attr4 != ''">attr4,</if>
            <if test="create_by != null and create_by != ''">create_by,</if>
            <if test="create_time != null and create_time != ''">create_time,</if>
            <if test="update_by != null and update_by != ''">update_by,</if>
            <if test="update_time != null and update_time != ''">update_times,</if>
        </trim>
    </insert>

    <delete id="deleteWorkShopSetByworkshopcode" parameterType="String">
        delete from md_workshop where workshop_code = #{workshop_code}
    </delete>

    <update id="updateWorkShopSet" parameterType="WorkShopSet">
        update md_workshop
        <trim prefix="SET" suffixOverrides=",">
            <if test="workshop_code != null and workshop_code != ''">workshop_code,</if>
            <if test="workshop_name != null and workshop_name != ''">workshop_name,</if>
            <if test="area != null and area != ''">area,</if>
            <if test="charge != null and charge != ''">charge,</if>
            <if test="enable_flag != null and enable_flag != ''">enable_flag,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="attr1 != null and attr1 != ''">attr1,</if>
            <if test="attr2 != null and attr2 != ''">attr2,</if>
            <if test="attr3 != null and attr3 != ''">attr3,</if>
            <if test="attr4 != null and attr4 != ''">attr4,</if>
            <if test="create_by != null and create_by != ''">create_by,</if>
            <if test="create_time != null and create_time != ''">create_time,</if>
            <if test="update_by != null and update_by != ''">update_by,</if>
            <if test="update_time != null and update_time != ''">update_times,</if>
        </trim>
    </update>
</mapper>