<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktg.mes.pro.mapper.FeedbackMapper">
    <select id="selectFeedbackByrecordid" parameterType="String" resultMap="Feedback">
       select feedback_type,workstation_id,workstation_code,workstation_name,workorder_id,
              workorder_code,workorder_name,process_id,process_code,process_name,task_id,
              task_code,item_id,item_code,item_name,unit_of_measure,specification,quantity,
              quantity_feedback,quantity_qualified,quantity_unquanlified,user_name,nick_name,
              feedback_channel,feedback_time,record_user,record_nick,status,remark,
              attr1,attr2,attr3,attr4,create_by,create_time,update_by,update_time
       from pro_feedback where record_id = #{record_id}
    </select>

    <insert id="insertFeedback" parameterType="Feedback">
        insert into pro_feedback
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="feedback_type != null and feedback_type != ''">feedback_type,</if>
            <if test="workstation_id != null and workstation_id != ''">workstation_id,</if>
            <if test="workstation_code != null and workstation_code != ''">workstation_code,</if>
            <if test="workstation_name != null and workstation_name != ''">workstation_name,</if>
            <if test="workorder_id != null and workorder_id != ''">workorder_id,</if>
            <if test="workorder_code != null and workorder_code != ''">workorder_code,</if>
            <if test="workorder_name != null and workorder_name != ''">workorder_name,</if>
            <if test="process_id != null and process_id != ''">process_id,</if>
            <if test="process_code != null and process_code != ''">process_code,</if>
            <if test="process_name != null and process_name != ''">process_name,</if>
            <if test="task_id != null and task_id != ''">task_id,</if>
            <if test="task_code != null and task_code != ''">task_code,</if>
            <if test="item_id != null and item_id != ''">item_id,</if>
            <if test="item_code != null and item_code != ''">item_code,</if>
            <if test="item_name != null and item_name != ''">item_name,</if>
            <if test="unit_of_measure != null and unit_of_measure != ''">unit_of_measure,</if>
            <if test="specification != null and specification != ''">specification,</if>
            <if test="quantity != null and quantity != ''">quantity,</if>
            <if test="quantity_feedback != null and quantity_feedback != ''">quantity_feedback,</if>
            <if test="quantity_qualified != null and quantity_qualified != ''">quantity_qualified,</if>
            <if test="quantity_unquanlified != null and quantity_unquanlified != ''">quantity_unquanlified,</if>
            <if test="user_name != null and user_name != ''">user_name,</if>
            <if test="nick_name != null and nick_name != ''">nick_name,</if>
            <if test="feedback_channel != null and feedback_channel != ''">feedback_channel,</if>
            <if test="feedback_time != null and feedback_time != ''">feedback_time,</if>
            <if test="record_user != null and record_user != ''">record_user,</if>
            <if test="record_nick != null and record_nick != ''">record_nick,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="attr1 != null and attr1 != ''">attr1,</if>
            <if test="attr2 != null and attr2 != ''">attr2,</if>
            <if test="attr3 != null and attr3 != ''">attr3,</if>
            <if test="attr4 != null and attr4 != ''">attr4,</if>
            <if test="create_by != null and create_by != ''">create_by,</if>
            <if test="create_time != null and create_time != ''">create_time,</if>
            <if test="update_by != null and update_by != ''">update_by,</if>
            <if test="update_time != null and update_time != ''">update_times,</if>
        </trim>
    </insert>

    <delete id="deleteFeedbackByrecordid" parameterType="String">
        delete from pro_feedback where record_id = #{record_id}
    </delete>

    <update id="updateFeedback" parameterType="Feedback">
        update pro_feedback
        <trim prefix="SET" suffixOverrides=",">
            <if test="feedback_type != null and feedback_type != ''">feedback_type,</if>
            <if test="workstation_id != null and workstation_id != ''">workstation_id,</if>
            <if test="workstation_code != null and workstation_code != ''">workstation_code,</if>
            <if test="workstation_name != null and workstation_name != ''">workstation_name,</if>
            <if test="workorder_id != null and workorder_id != ''">workorder_id,</if>
            <if test="workorder_code != null and workorder_code != ''">workorder_code,</if>
            <if test="workorder_name != null and workorder_name != ''">workorder_name,</if>
            <if test="process_id != null and process_id != ''">process_id,</if>
            <if test="process_code != null and process_code != ''">process_code,</if>
            <if test="process_name != null and process_name != ''">process_name,</if>
            <if test="task_id != null and task_id != ''">task_id,</if>
            <if test="task_code != null and task_code != ''">task_code,</if>
            <if test="item_id != null and item_id != ''">item_id,</if>
            <if test="item_code != null and item_code != ''">item_code,</if>
            <if test="item_name != null and item_name != ''">item_name,</if>
            <if test="unit_of_measure != null and unit_of_measure != ''">unit_of_measure,</if>
            <if test="specification != null and specification != ''">specification,</if>
            <if test="quantity != null and quantity != ''">quantity,</if>
            <if test="quantity_feedback != null and quantity_feedback != ''">quantity_feedback,</if>
            <if test="quantity_qualified != null and quantity_qualified != ''">quantity_qualified,</if>
            <if test="quantity_unquanlified != null and quantity_unquanlified != ''">quantity_unquanlified,</if>
            <if test="user_name != null and user_name != ''">user_name,</if>
            <if test="nick_name != null and nick_name != ''">nick_name,</if>
            <if test="feedback_channel != null and feedback_channel != ''">feedback_channel,</if>
            <if test="feedback_time != null and feedback_time != ''">feedback_time,</if>
            <if test="record_user != null and record_user != ''">record_user,</if>
            <if test="record_nick != null and record_nick != ''">record_nick,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="attr1 != null and attr1 != ''">attr1,</if>
            <if test="attr2 != null and attr2 != ''">attr2,</if>
            <if test="attr3 != null and attr3 != ''">attr3,</if>
            <if test="attr4 != null and attr4 != ''">attr4,</if>
            <if test="create_by != null and create_by != ''">create_by,</if>
            <if test="create_time != null and create_time != ''">create_time,</if>
            <if test="update_by != null and update_by != ''">update_by,</if>
            <if test="update_time != null and update_time != ''">update_times,</if>
        </trim>
    </update>
</mapper>